In [ ]:
import zlib
import pandas as pd
from sqlalchemy import create_engine, text

# replace with your database connection string
engine = create_engine("mariadb://root:root@mariadb:3306/mariadb")

with engine.connect() as connection:
    query = text("""SELECT DISTINCT *
FROM documents
JOIN document_owner ON documents.id = document_owner.document_id
JOIN actors ON document_owner.actor_id = actors.id
JOIN entities ON actors.entity_id = entities.id
JOIN government_entities ON government_entities.entity_id = entities.id
WHERE ((documents.type = 'Årsrapport')
OR (documents.type = 'Tildelingsbrev')) AND NOT (
    documents.title LIKE '%vedlegg%' 
    OR documents.title LIKE '%tillegg%' 
    OR documents.title LIKE '%suppler%'
)
AND documents.published_at >= '2018-01-01'""")
    result = connection.execute(query)
    
# Get the result as a pandas dataframe
df = pd.DataFrame(result.fetchall(), columns=result.keys())

# the result is a blob that is zlip-compressed. decompressing it
# plaintexts = result.fetchall()
# print(len(plaintexts))
# plaintexts_decompressed = {
#     f"{plaintext[0]}_{plaintext[1]}_{i}": zlib.decompress(plaintext[-1]).decode("utf-8") # just the name of the 
#     if plaintext[-1] is not None
#     else ""
#     for i, plaintext in enumerate(plaintexts)
# }

:

In [24]:
df[df['plaintext'].isnull()]

,id,uuid,type,title,subtitle,original_title,isbn,isbn_printed,issn,redirect_to_id,...,name,address,created_at,updated_at,id,level,parent_id,entity_id,created_at,updated_at
689,33202,f0bf3b81-df90-4692-9fa8-7e406605b539,Årsrapport,Årsrapport Barneombudet 2022,None,None,None,None,None,None,...,BARNEOMBUDET,"""{\""land\"":\""Norge\"",\""landkode\"":\""NO\"",\""pos...",2022-01-04 09:00:17,2024-03-21 20:00:30,869,1,640.0,971527765,2024-04-02 22:00:04,2024-04-02 22:00:04
727,33264,48e300f7-e4fe-483d-bacf-567232914731,Årsrapport,Årsrapport Justervesenet 2022,None,None,None,None,None,None,...,JUSTERVESENET,"""{\""land\"":\""Norge\"",\""landkode\"":\""NO\"",\""pos...",2022-01-04 09:00:17,2024-03-12 20:11:29,2773,1,2730.0,874761192,2024-04-02 22:00:04,2024-04-02 22:00:04

In [25]:
# decompress df['plaintext'] using zlib.decompress(x).decode("utf-8")
df['plaintext_decompressed'] = df['plaintext'].apply(lambda x: zlib.decompress(x).decode("utf-8") if x is not None else "")

In [26]:
df.to_csv("df_from_db.csv", index=False)

In [11]:
# import pickle

# # write plaintexts_decompressed to a file
# with open("all_plaintexts_decompressed.pkl", "wb") as f:
#     pickle.dump(plaintexts_decompressed, f)